:root {
  font-family: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(84, 80, 68);
  background: #cfc9b2;
  background: linear-gradient(
    90deg,
    rgba(207, 201, 178, 1) 0%,
    rgba(232, 225, 190, 1) 14%,
    rgba(232, 225, 190, 1) 50%,
    rgba(232, 225, 190, 1) 85%,
    rgba(207, 201, 178, 1) 100%
  );

  --fg-primary: rgb(252, 248, 204);
  --fg-secondary: rgb(207, 202, 165);

  --bg-primary: rgb(105, 102, 83);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2%;
}
.box {
  background-color: var(--fg-primary);
  box-shadow: 0.4em 0.4em 0.5em #1a1a1a86;
}
.grid-container {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px;
  gap: 1em;
  grid-template-areas:
    "box-1 box-2 box-2 box-3"
    "box-1 box-4 box-5 box-5";
}

hr {
  display: hidden;
  border-bottom: 2px solid var(--fg-secondary);
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
  font-family: "Montserrat";
}

h2 {
  background-color: var(--bg-primary);
  color: var(--fg-primary);
  font-weight: 500;
  letter-spacing: 2px;
  width: fit-content;
  margin: 0 auto 0.5em;
  padding: 0 1em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
