:root {
  font-family: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(84, 80, 68);
  background: #cfc9b2;
  background: radial-gradient(
    circle,
    rgba(232, 225, 190, 1) 0%,
    rgba(232, 225, 190, 1) 75%,
    rgba(191, 185, 164, 1) 100%
  );

  --font-primary: rgb(84, 80, 68);

  --fg-primary: rgb(252, 248, 204);
  --fg-secondary: rgb(207, 202, 165);

  --bg-primary: rgb(105, 102, 83);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::after {
  content: "";
  background-image: url("../public/NierAutomataBg.png");
  background-size: 100% 100%;
  height: 300vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
  filter: grayscale(50%);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2%;
}
.box {
  background-color: var(--fg-primary);
  box-shadow: 0.4em 0.4em 0.5em #1a1a1a86;
}
.grid-container {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 15vw 15vw 15vw 15vw;
  grid-template-rows: 15vw 15vw;
  gap: 1em;
  grid-template-areas:
    "box-1 box-2 box-2 box-3"
    "box-1 box-4 box-5 box-5";
}

/* hr {
  display: hidden;
  border-bottom: 2px solid var(--fg-secondary);
} */

h1 {
  margin-top: 1em;
  font-size: 4.2em;
  font-family: "Montserrat";
}

h1,
h2 {
  font-family: "Montserrat";
  line-height: 1.1;
  text-transform: uppercase;
}

h2 {
  text-shadow: 5px 6px 2px #1a1a1a23;
  font-weight: 300;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0.5em;
}

h2 span{
  font-size: 0.7em;
  font-style: italic;
  text-transform: lowercase;
}

.projects{
  max-width: 1080px;
  text-align: left;
}

.projects h3{
  margin-left: 0;
  margin-top: 0.5em;
}
.projects p{
  max-width: 60ch;
}
.project-container{  
  border: 1px solid var(--bg-primary);
  padding: 0.2em 1em 2em;
}


h3 {
  background-color: var(--bg-primary);
  color: var(--fg-primary);
  font-weight: 500;
  letter-spacing: 2px;
  width: fit-content;
  margin: 0 auto 0.5em;
  padding: 0 1em;
  font-size: 1.6em;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  list-style: none;
  width: 100%;
  margin-bottom: 0.5em;
  border-left: 8px double var(--font-primary);
}

nav a {
  color: var(--font-primary);
  text-transform: uppercase;
  background-color: var(--fg-secondary);
  padding: 0.2em 2em 0.2em 1em;
  border-left: 4px double #1a1a1a;
  transition: 0.2s;
  font-weight: bold;
}
nav a:hover {
  background-color: var(--fg-primary);
  color: #1a1a1a;
  box-shadow: 5px 0 5px #1a1a1a23;
  padding-bottom: 0.8em;
}

nav {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid var(--fg-secondary);
  position: sticky;
  top: 0;
  padding-top: 1em;
  padding-bottom: 0.2em;
  backdrop-filter: blur(25px);
  background-color: rgba(227, 220, 188, 0.742);
}

button{
  background-color: var(--bg-primary);
  color: var(--fg-primary);
  padding: 0.2em;
  min-height: 40px;
  min-width: 40px;
  padding: 0.5em 1em;
  font-weight: bold;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 1.2em;
  border: none;
  box-shadow: 4px 5px 0 #1a1a1a23;
  transition: 0.2s;
  border: 1px solid transparent;
}

button:hover{
  background-color: var(--fg-primary);
  color: #1a1a1a;
  border: 1px solid black;
  cursor: pointer;
}

.shortcut{
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content: center;
  gap: 1em;
}

.cta{
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin: 3em 0;
}
.cta button{
  margin-right: 1em;
}
.cta p{
  font-size: 1.2em;
  max-width: 50ch;
  margin-right: 1em;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
